<div id="canvas-wrap">
  <canvas id="canvas-container"></canvas>
  <div id="canvas-txt">
    <p>Loop17</p>
    <div id="hamburger-menu">
      <%= render'homes/hamburger' %>
    </div>
    <%= current_home %>
  </div>
</div>