  <div id="sp-menu">
    <ul>
      <li><a href="#">マイプロフィール</a></li>
      <li><a href="#">プロフィールを編集</a></li>
      <li><a href="#">ジャンル検索</a></li>
      <li><a href="#">このサイトについて</a></li>
      <li><a href="#">ログアウト</a></li>
    </ul>
  </div>

  <div class="hamburger">
    <span class="hamburger-title">MENU</span>
    <span class="circle1"></span>
    <span class="circle2"></span>
    <span class="circle3"></span>
  </div>