  <div id="sp-hamburger">
    <span id="sp-hamburger-title">
      <ul style="list-style: none;">
        <li><a href="#">マイプロフィール</a></li>
        <li><a href="#">プロフィールを編集</a></li>
        <li><a href="#">ジャンル検索</a></li>
        <li><a href="#">このサイトについて</a></li>
        <li><a href="#">ログアウト</a></li>
      </ul>
    </span>
    <span id="sp-circle1"></span>
    <span id="sp-circle2"></span>
    <span id="sp-circle3"></span>
  </div>

  <div id="hamburger">
    <span id="hamburger-title">MENU</span>
    <span id="circle1"></span>
    <span id="circle2"></span>
    <span id="circle3"></span>
  </div>