<div class="main-title">Loop17</div>

<body>
  <div class="content">
    <a class="js-modal-open" href="" data-target="modal01">はじめる</a>
    <a class="js-modal-open" href="" data-target="modal02">ログイン</a></a>
  </div>
  <div id="modal01" class="modal js-modal">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p>サインインコンテンツ</p>
    </div>
  </div>
  <div id="modal02" class="modal js-modal">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p>ログインコンテンツ</p>
    </div>
  </div>
</body>
